<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Banned Accounts</title>

    <link rel="stylesheet" type="text/css" href="/CSS/Banned.css" />
    <script type="text/javascript" src="/JS/Banned.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>

<div align="center" class="container-fluid my-2" style="text-align:center;">

    <h1>Banned Accounts</h1>

    <table border="5" class = "table table-dark table-striped table-responsive-md" style="margin-bottom: 60px !important">

        <thead style="text-align:center">
        <tr>
            <th>Id</th>
            <th>Account username</th>
            <th>Login Method</th>
            <th>Account Key</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="banned : ${bannedList}">
            <td th:text="${banned.id}"></td>
            <td th:text="${banned.username}"></td>
            <td th:text="${banned.login_method}"></td>
            <td th:text="${banned.account_key}"></td>
            <td class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="Permit btn btn-success btn-sm mb-3" data-toggle="modal" data-target="#permitDataModal" style="margin:5px">Permit</button>

                <input type="hidden" class="id" th:value="${banned.id}" />
                <input type="hidden" class="username" th:value="${banned.username}" />
            </td>
        </tr>
        </tbody>

    </table>

</div>



<!-- Modal permit -->
<div class="modal fade" id="permitDataModal" tabindex="-1" role="dialog" aria-labelledby="permitDataModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="permitDataTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="#" method="POST" th:action="@{permitBannedAccount}">

                <div class="modal-body">

                    <input type="hidden" id="permit-modal-id" name="id" />
                    <input type="hidden" id="page" name="page" th:value="${pageNo}" />

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="username" name="username">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="password" name="password">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Save changes</button>
                </div>

            </form>

        </div>
    </div>
</div>




<div class="col-md-12 text-right" style="right:10px;bottom:10px;position:fixed">
    <button type="button" class="btn btn-primary">
        <a th:href="'showBannedAccounts?username=' + ${username} + '&password=' + ${password} + '&page=' + ${pageNo - 1}" style="text-decoration:none; color:white">
            Prev
        </a>
    </button>
    <button type="button" class="btn btn-primary">
        <a th:href="'showBannedAccounts?username=' + ${username} + '&password=' + ${password} + '&page=' + ${pageNo + 1}" style="text-decoration:none; color:white">
            Next
        </a>
    </button>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>