<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pages</title>

    <link rel="stylesheet" type="text/css" href="/CSS/pageLinks.css" />
    <script type="text/javascript" src="/JS/pageLinks.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>

    <div align="center" class="container-fluid my-2" aria-label="Basic example">

        <h1>Raw lLinks</h1>

        <table border="5" class = "table table-dark table-striped table-responsive-md" style="text-align:center;margin-bottom: 60px !important">

            <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-success">
                        <a target="_blank"  href="/" style="text-decoration:none; color:white" >Home</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-success">
                        <a target="_blank"  href="/image" style="text-decoration:none; color:white" >Image</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-success">
                        <a target="_blank"  href="/memory?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Memory</a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a target="_blank"  href="/data/printDatabase?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Database</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a target="_blank"  href="/data/printAccounts?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Accounts</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a target="_blank"  href="/data/printPendingTransactions?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Pending transactions</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a target="_blank"  href="/data/printTransactions?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Transactions</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a target="_blank"  href="/data/printPendingRefunds?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Pending refunds</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a target="_blank"  href="/data/printRefunds?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Refunds</a>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a target="_blank"  href="/data?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Data</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a target="_blank"  href="/data/printBasicData?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Basic data</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a target="_blank"  href="/data/printLoggedUsers?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Logged users</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a target="_blank"  href="/data/printGuestUsers?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Guest users</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a target="_blank"  href="/data/printPendingQueue?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Pending queue</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a target="_blank"  href="/data/printGameThreads?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Game threads</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a target="_blank"  href="/data/printWaitingRooms?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Waiting rooms</a>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div align="center" class="container-fluid my-2" aria-label="Basic example">

        <h1>Other links</h1>

        <table border="5" class = "table table-dark table-striped table-responsive-md" style="text-align:center;margin-bottom: 60px !important">

            <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-success">
                            <a target="_blank"  href="/pages?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Pages</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <a target="_blank"  href="/database/dataEdit?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Edit Data</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <a target="_blank"  href="/database/terminal?username=admin&password=PokerServerPa$$w0RD" style="text-decoration:none; color:white" >Terminal</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <a target="_blank"  href="/database/forbidden" style="text-decoration:none; color:white" >Forbidden</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a target="_blank"  href="/database/showAccounts?username=admin&password=PokerServerPa$$w0RD&page=1" style="text-decoration:none; color:white" >Accounts</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a target="_blank"  href="/database/showPendingTransactions?username=admin&password=PokerServerPa$$w0RD&page=1" style="text-decoration:none; color:white" >Pending Transactions</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a target="_blank"  href="/database/showPendingRefunds?username=admin&password=PokerServerPa$$w0RD&page=1" style="text-decoration:none; color:white" >Pending Refunds</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a target="_blank"  href="/database/showRefunds?username=admin&password=PokerServerPa$$w0RD&page=1" style="text-decoration:none; color:white" >Refunds</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a target="_blank"  href="/database/showTransactions?username=admin&password=PokerServerPa$$w0RD&page=1" style="text-decoration:none; color:white" >Transactions</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>